USE [SZR_Production]
GO
/****** Object:  StoredProcedure [dbo].[sp_StartBatchStep]    Script Date: 17.05.2026 13:17:57 ******/
DROP PROCEDURE [dbo].[sp_StartBatchStep]
GO
/****** Object:  StoredProcedure [dbo].[sp_RegisterDeviation]    Script Date: 17.05.2026 13:17:57 ******/
DROP PROCEDURE [dbo].[sp_RegisterDeviation]
GO
/****** Object:  StoredProcedure [dbo].[sp_CreateProductionBatch]    Script Date: 17.05.2026 13:17:57 ******/
DROP PROCEDURE [dbo].[sp_CreateProductionBatch]
GO
ALTER TABLE [dbo].[RecipeComponents] DROP CONSTRAINT [CK_RecipeComponents_Percentage]
GO
ALTER TABLE [dbo].[RecipeComponents] DROP CONSTRAINT [CK__RecipeCom__Perce__6383C8BA]
GO
ALTER TABLE [dbo].[Users] DROP CONSTRAINT [FK_Users_RoleId]
GO
ALTER TABLE [dbo].[TechSteps] DROP CONSTRAINT [FK_TechSteps_TechCardId]
GO
ALTER TABLE [dbo].[TechSteps] DROP CONSTRAINT [FK_TechSteps_Equipment]
GO
ALTER TABLE [dbo].[TechCards] DROP CONSTRAINT [FK_TechCards_ProductId]
GO
ALTER TABLE [dbo].[TechCards] DROP CONSTRAINT [FK_TechCards_CreatedBy]
GO
ALTER TABLE [dbo].[TechCards] DROP CONSTRAINT [FK_TechCards_ApprovedBy]
GO
ALTER TABLE [dbo].[StatusHistory] DROP CONSTRAINT [FK_StatusHistory_User]
GO
ALTER TABLE [dbo].[RefreshTokens] DROP CONSTRAINT [FK_RefreshTokens_User]
GO
ALTER TABLE [dbo].[Recipes] DROP CONSTRAINT [FK_Recipes_ProductId]
GO
ALTER TABLE [dbo].[Recipes] DROP CONSTRAINT [FK_Recipes_CreatedBy]
GO
ALTER TABLE [dbo].[Recipes] DROP CONSTRAINT [FK_Recipes_ApprovedBy]
GO
ALTER TABLE [dbo].[RecipeComponents] DROP CONSTRAINT [FK_RecipeComponents_RecipeId]
GO
ALTER TABLE [dbo].[RecipeComponents] DROP CONSTRAINT [FK_RecipeComponents_RawMaterialId]
GO
ALTER TABLE [dbo].[RawMaterialBatches] DROP CONSTRAINT [FK_RMBatches_MaterialId]
GO
ALTER TABLE [dbo].[RawMaterialBatches] DROP CONSTRAINT [FK_RMBatches_DecisionBy]
GO
ALTER TABLE [dbo].[Products] DROP CONSTRAINT [FK_Products_CreatedBy]
GO
ALTER TABLE [dbo].[ProductionOrders] DROP CONSTRAINT [FK_Orders_ProductId]
GO
ALTER TABLE [dbo].[ProductionOrders] DROP CONSTRAINT [FK_Orders_CreatedBy]
GO
ALTER TABLE [dbo].[ProductionBatches] DROP CONSTRAINT [FK_ProductionBatches_Equipment]
GO
ALTER TABLE [dbo].[ProductionBatches] DROP CONSTRAINT [FK_Batches_TechCardId]
GO
ALTER TABLE [dbo].[ProductionBatches] DROP CONSTRAINT [FK_Batches_RecipeId]
GO
ALTER TABLE [dbo].[ProductionBatches] DROP CONSTRAINT [FK_Batches_ProductId]
GO
ALTER TABLE [dbo].[ProductionBatches] DROP CONSTRAINT [FK_Batches_OrderId]
GO
ALTER TABLE [dbo].[ProductionBatches] DROP CONSTRAINT [FK_Batches_CreatedBy]
GO
ALTER TABLE [dbo].[Notifications] DROP CONSTRAINT [FK_Notif_UserId]
GO
ALTER TABLE [dbo].[MaintenanceRecords] DROP CONSTRAINT [FK_MaintenanceRecords_Users]
GO
ALTER TABLE [dbo].[MaintenanceRecords] DROP CONSTRAINT [FK_MaintenanceRecords_Equipment]
GO
ALTER TABLE [dbo].[LabTests] DROP CONSTRAINT [FK_LabTests_ExecutedBy]
GO
ALTER TABLE [dbo].[LabTests] DROP CONSTRAINT [FK_LabTests_AssignedBy]
GO
ALTER TABLE [dbo].[LabTestParameters] DROP CONSTRAINT [FK_LabParams_TestId]
GO
ALTER TABLE [dbo].[ExtruderZones] DROP CONSTRAINT [FK_ExtruderZones_Program]
GO
ALTER TABLE [dbo].[ExtruderTelemetry] DROP CONSTRAINT [FK_ExtruderTelemetry_Batch]
GO
ALTER TABLE [dbo].[ExtruderPrograms] DROP CONSTRAINT [FK_ExtruderPrograms_Product]
GO
ALTER TABLE [dbo].[ExtruderLogs] DROP CONSTRAINT [FK_ExtruderLogs_User]
GO
ALTER TABLE [dbo].[ExtruderLogs] DROP CONSTRAINT [FK_ExtruderLogs_Program]
GO
ALTER TABLE [dbo].[ExtruderLogs] DROP CONSTRAINT [FK_ExtruderLogs_Batch]
GO
ALTER TABLE [dbo].[EquipmentLogs] DROP CONSTRAINT [FK_EquipmentLogs_ProductionBatches]
GO
ALTER TABLE [dbo].[EquipmentLogs] DROP CONSTRAINT [FK_EquipmentLogs_Equipment]
GO
ALTER TABLE [dbo].[DeviationEvents] DROP CONSTRAINT [FK_DeviationEvents_Equipment]
GO
ALTER TABLE [dbo].[DeviationEvents] DROP CONSTRAINT [FK_Dev_StepExecId]
GO
ALTER TABLE [dbo].[DeviationEvents] DROP CONSTRAINT [FK_Dev_ResolvedBy]
GO
ALTER TABLE [dbo].[DeviationEvents] DROP CONSTRAINT [FK_Dev_CreatedBy]
GO
ALTER TABLE [dbo].[DeviationEvents] DROP CONSTRAINT [FK_Dev_BatchId]
GO
ALTER TABLE [dbo].[BatchStepExecutions] DROP CONSTRAINT [FK_StepExec_StepId]
GO
ALTER TABLE [dbo].[BatchStepExecutions] DROP CONSTRAINT [FK_StepExec_StartedBy]
GO
ALTER TABLE [dbo].[BatchStepExecutions] DROP CONSTRAINT [FK_StepExec_FinishedBy]
GO
ALTER TABLE [dbo].[BatchStepExecutions] DROP CONSTRAINT [FK_StepExec_BatchId]
GO
ALTER TABLE [dbo].[BatchStepExecutions] DROP CONSTRAINT [FK_BatchStepExecutions_Equipment]
GO
ALTER TABLE [dbo].[BatchMaterials] DROP CONSTRAINT [FK_BatchMaterials_RMBatchId]
GO
ALTER TABLE [dbo].[BatchMaterials] DROP CONSTRAINT [FK_BatchMaterials_BatchId]
GO
ALTER TABLE [dbo].[AuditLogs] DROP CONSTRAINT [FK_Audit_UserId]
GO
ALTER TABLE [dbo].[Users] DROP CONSTRAINT [DF__Users__CreatedAt__4E88ABD4]
GO
ALTER TABLE [dbo].[Users] DROP CONSTRAINT [DF__Users__IsActive__4D94879B]
GO
ALTER TABLE [dbo].[TechSteps] DROP CONSTRAINT [DF__TechSteps__IsMan__6FE99F9F]
GO
ALTER TABLE [dbo].[TechCards] DROP CONSTRAINT [DF__TechCards__Creat__6A30C649]
GO
ALTER TABLE [dbo].[TechCards] DROP CONSTRAINT [DF__TechCards__Statu__693CA210]
GO
ALTER TABLE [dbo].[StatusHistory] DROP CONSTRAINT [DF__StatusHis__Chang__01D345B0]
GO
ALTER TABLE [dbo].[RefreshTokens] DROP CONSTRAINT [DF__RefreshTo__Creat__078C1F06]
GO
ALTER TABLE [dbo].[RefreshTokens] DROP CONSTRAINT [DF__RefreshTo__IsRev__0697FACD]
GO
ALTER TABLE [dbo].[Recipes] DROP CONSTRAINT [DF__Recipes__Created__5DCAEF64]
GO
ALTER TABLE [dbo].[Recipes] DROP CONSTRAINT [DF__Recipes__Status__5CD6CB2B]
GO
ALTER TABLE [dbo].[RawMaterials] DROP CONSTRAINT [DF__RawMateri__IsAct__59063A47]
GO
ALTER TABLE [dbo].[RawMaterialBatches] DROP CONSTRAINT [DF__RawMateri__LabSt__04E4BC85]
GO
ALTER TABLE [dbo].[Products] DROP CONSTRAINT [DF__Products__Create__5441852A]
GO
ALTER TABLE [dbo].[Products] DROP CONSTRAINT [DF__Products__Status__534D60F1]
GO
ALTER TABLE [dbo].[ProductionOrders] DROP CONSTRAINT [DF__Productio__Creat__75A278F5]
GO
ALTER TABLE [dbo].[ProductionOrders] DROP CONSTRAINT [DF__Productio__Statu__74AE54BC]
GO
ALTER TABLE [dbo].[ProductionBatches] DROP CONSTRAINT [DF__Productio__Creat__7C4F7684]
GO
ALTER TABLE [dbo].[ProductionBatches] DROP CONSTRAINT [DF__Productio__Statu__7B5B524B]
GO
ALTER TABLE [dbo].[Notifications] DROP CONSTRAINT [DF__Notificat__Creat__2B0A656D]
GO
ALTER TABLE [dbo].[Notifications] DROP CONSTRAINT [DF__Notificat__IsRea__2A164134]
GO
ALTER TABLE [dbo].[MaintenanceRecords] DROP CONSTRAINT [DF__Maintenan__Creat__503BEA1C]
GO
ALTER TABLE [dbo].[MaintenanceRecords] DROP CONSTRAINT [DF__Maintenan__Maint__4F47C5E3]
GO
ALTER TABLE [dbo].[LabTests] DROP CONSTRAINT [DF__LabTests__Priori__17036CC0]
GO
ALTER TABLE [dbo].[LabTests] DROP CONSTRAINT [DF__LabTests__Status__160F4887]
GO
ALTER TABLE [dbo].[LabTests] DROP CONSTRAINT [DF__LabTests__Assign__151B244E]
GO
ALTER TABLE [dbo].[ExtruderTelemetry] DROP CONSTRAINT [DF__ExtruderT__Statu__70A8B9AE]
GO
ALTER TABLE [dbo].[ExtruderTelemetry] DROP CONSTRAINT [DF__ExtruderT__Times__6FB49575]
GO
ALTER TABLE [dbo].[ExtruderPrograms] DROP CONSTRAINT [DF__ExtruderP__Creat__634EBE90]
GO
ALTER TABLE [dbo].[ExtruderPrograms] DROP CONSTRAINT [DF__ExtruderP__Statu__625A9A57]
GO
ALTER TABLE [dbo].[ExtruderLogs] DROP CONSTRAINT [DF__ExtruderL__Loade__69FBBC1F]
GO
ALTER TABLE [dbo].[EquipmentLogs] DROP CONSTRAINT [DF__Equipment__Event__55009F39]
GO
ALTER TABLE [dbo].[Equipment] DROP CONSTRAINT [DF__Equipment__IsAct__3E1D39E1]
GO
ALTER TABLE [dbo].[DeviationEvents] DROP CONSTRAINT [DF__Deviation__Creat__1F98B2C1]
GO
ALTER TABLE [dbo].[DeviationEvents] DROP CONSTRAINT [DF__Deviation__Sever__1EA48E88]
GO
ALTER TABLE [dbo].[BatchStepExecutions] DROP CONSTRAINT [DF__BatchStep__Statu__0D7A0286]
GO
ALTER TABLE [dbo].[AuditLogs] DROP CONSTRAINT [DF__AuditLogs__Creat__2645B050]
GO
/****** Object:  Index [UQ__Users__5E55825B541FCEFE]    Script Date: 17.05.2026 13:17:57 ******/
ALTER TABLE [dbo].[Users] DROP CONSTRAINT [UQ__Users__5E55825B541FCEFE]
GO
/****** Object:  Index [UX_TechCards_OneApprovedPerProduct]    Script Date: 17.05.2026 13:17:57 ******/
DROP INDEX [UX_TechCards_OneApprovedPerProduct] ON [dbo].[TechCards]
GO
/****** Object:  Index [UK_TechCards_Product_Version]    Script Date: 17.05.2026 13:17:57 ******/
ALTER TABLE [dbo].[TechCards] DROP CONSTRAINT [UK_TechCards_Product_Version]
GO
/****** Object:  Index [UQ__Roles__737584F630B148D8]    Script Date: 17.05.2026 13:17:57 ******/
ALTER TABLE [dbo].[Roles] DROP CONSTRAINT [UQ__Roles__737584F630B148D8]
GO
/****** Object:  Index [IX_RefreshTokens_UserId_Token]    Script Date: 17.05.2026 13:17:57 ******/
DROP INDEX [IX_RefreshTokens_UserId_Token] ON [dbo].[RefreshTokens]
GO
/****** Object:  Index [UX_Recipes_OneApprovedPerProduct]    Script Date: 17.05.2026 13:17:57 ******/
DROP INDEX [UX_Recipes_OneApprovedPerProduct] ON [dbo].[Recipes]
GO
/****** Object:  Index [UK_Recipes_Product_Version]    Script Date: 17.05.2026 13:17:57 ******/
ALTER TABLE [dbo].[Recipes] DROP CONSTRAINT [UK_Recipes_Product_Version]
GO
/****** Object:  Index [UQ__RawMater__A25C5AA7D0F38B68]    Script Date: 17.05.2026 13:17:57 ******/
ALTER TABLE [dbo].[RawMaterials] DROP CONSTRAINT [UQ__RawMater__A25C5AA7D0F38B68]
GO
/****** Object:  Index [UQ__RawMater__F869ED6D57E50097]    Script Date: 17.05.2026 13:17:57 ******/
ALTER TABLE [dbo].[RawMaterialBatches] DROP CONSTRAINT [UQ__RawMater__F869ED6D57E50097]
GO
/****** Object:  Index [UQ__Products__A25C5AA7586CD2A3]    Script Date: 17.05.2026 13:17:57 ******/
ALTER TABLE [dbo].[Products] DROP CONSTRAINT [UQ__Products__A25C5AA7586CD2A3]
GO
/****** Object:  Index [UQ__Producti__CAC5E7436388F2D0]    Script Date: 17.05.2026 13:17:57 ******/
ALTER TABLE [dbo].[ProductionOrders] DROP CONSTRAINT [UQ__Producti__CAC5E7436388F2D0]
GO
/****** Object:  Index [UQ__Producti__F869ED6D24E1828C]    Script Date: 17.05.2026 13:17:57 ******/
ALTER TABLE [dbo].[ProductionBatches] DROP CONSTRAINT [UQ__Producti__F869ED6D24E1828C]
GO
/****** Object:  Index [UQ__LabTests__D6EEAAC0D14E0470]    Script Date: 17.05.2026 13:17:57 ******/
ALTER TABLE [dbo].[LabTests] DROP CONSTRAINT [UQ__LabTests__D6EEAAC0D14E0470]
GO
/****** Object:  Index [UQ__Equipmen__A25C5AA70A38BA7D]    Script Date: 17.05.2026 13:17:57 ******/
ALTER TABLE [dbo].[Equipment] DROP CONSTRAINT [UQ__Equipmen__A25C5AA70A38BA7D]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 17.05.2026 13:17:57 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Users]') AND type in (N'U'))
DROP TABLE [dbo].[Users]
GO
/****** Object:  Table [dbo].[TechSteps]    Script Date: 17.05.2026 13:17:57 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TechSteps]') AND type in (N'U'))
DROP TABLE [dbo].[TechSteps]
GO
/****** Object:  Table [dbo].[TechCards]    Script Date: 17.05.2026 13:17:57 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TechCards]') AND type in (N'U'))
DROP TABLE [dbo].[TechCards]
GO
/****** Object:  Table [dbo].[StatusHistory]    Script Date: 17.05.2026 13:17:57 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[StatusHistory]') AND type in (N'U'))
DROP TABLE [dbo].[StatusHistory]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 17.05.2026 13:17:57 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Roles]') AND type in (N'U'))
DROP TABLE [dbo].[Roles]
GO
/****** Object:  Table [dbo].[RefreshTokens]    Script Date: 17.05.2026 13:17:57 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[RefreshTokens]') AND type in (N'U'))
DROP TABLE [dbo].[RefreshTokens]
GO
/****** Object:  Table [dbo].[RawMaterials]    Script Date: 17.05.2026 13:17:57 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[RawMaterials]') AND type in (N'U'))
DROP TABLE [dbo].[RawMaterials]
GO
/****** Object:  Table [dbo].[RawMaterialBatches]    Script Date: 17.05.2026 13:17:57 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[RawMaterialBatches]') AND type in (N'U'))
DROP TABLE [dbo].[RawMaterialBatches]
GO
/****** Object:  Table [dbo].[ProductionOrders]    Script Date: 17.05.2026 13:17:57 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ProductionOrders]') AND type in (N'U'))
DROP TABLE [dbo].[ProductionOrders]
GO
/****** Object:  Table [dbo].[Notifications]    Script Date: 17.05.2026 13:17:57 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Notifications]') AND type in (N'U'))
DROP TABLE [dbo].[Notifications]
GO
/****** Object:  Table [dbo].[MaintenanceRecords]    Script Date: 17.05.2026 13:17:57 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[MaintenanceRecords]') AND type in (N'U'))
DROP TABLE [dbo].[MaintenanceRecords]
GO
/****** Object:  Table [dbo].[LabTests]    Script Date: 17.05.2026 13:17:57 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[LabTests]') AND type in (N'U'))
DROP TABLE [dbo].[LabTests]
GO
/****** Object:  Table [dbo].[LabTestParameters]    Script Date: 17.05.2026 13:17:57 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[LabTestParameters]') AND type in (N'U'))
DROP TABLE [dbo].[LabTestParameters]
GO
/****** Object:  Table [dbo].[ExtruderZones]    Script Date: 17.05.2026 13:17:57 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ExtruderZones]') AND type in (N'U'))
DROP TABLE [dbo].[ExtruderZones]
GO
/****** Object:  Table [dbo].[ExtruderTelemetry]    Script Date: 17.05.2026 13:17:57 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ExtruderTelemetry]') AND type in (N'U'))
DROP TABLE [dbo].[ExtruderTelemetry]
GO
/****** Object:  Table [dbo].[ExtruderPrograms]    Script Date: 17.05.2026 13:17:57 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ExtruderPrograms]') AND type in (N'U'))
DROP TABLE [dbo].[ExtruderPrograms]
GO
/****** Object:  Table [dbo].[ExtruderLogs]    Script Date: 17.05.2026 13:17:57 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ExtruderLogs]') AND type in (N'U'))
DROP TABLE [dbo].[ExtruderLogs]
GO
/****** Object:  Table [dbo].[EquipmentLogs]    Script Date: 17.05.2026 13:17:57 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[EquipmentLogs]') AND type in (N'U'))
DROP TABLE [dbo].[EquipmentLogs]
GO
/****** Object:  Table [dbo].[Equipment]    Script Date: 17.05.2026 13:17:57 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Equipment]') AND type in (N'U'))
DROP TABLE [dbo].[Equipment]
GO
/****** Object:  Table [dbo].[DeviationEvents]    Script Date: 17.05.2026 13:17:57 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DeviationEvents]') AND type in (N'U'))
DROP TABLE [dbo].[DeviationEvents]
GO
/****** Object:  Table [dbo].[BatchStepExecutions]    Script Date: 17.05.2026 13:17:57 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[BatchStepExecutions]') AND type in (N'U'))
DROP TABLE [dbo].[BatchStepExecutions]
GO
/****** Object:  Table [dbo].[BatchMaterials]    Script Date: 17.05.2026 13:17:57 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[BatchMaterials]') AND type in (N'U'))
DROP TABLE [dbo].[BatchMaterials]
GO
/****** Object:  Table [dbo].[AuditLogs]    Script Date: 17.05.2026 13:17:57 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[AuditLogs]') AND type in (N'U'))
DROP TABLE [dbo].[AuditLogs]
GO
/****** Object:  View [dbo].[vw_RecipeComponentsSum]    Script Date: 17.05.2026 13:17:57 ******/
DROP VIEW [dbo].[vw_RecipeComponentsSum]
GO
/****** Object:  Table [dbo].[RecipeComponents]    Script Date: 17.05.2026 13:17:57 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[RecipeComponents]') AND type in (N'U'))
DROP TABLE [dbo].[RecipeComponents]
GO
/****** Object:  Table [dbo].[Recipes]    Script Date: 17.05.2026 13:17:57 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Recipes]') AND type in (N'U'))
DROP TABLE [dbo].[Recipes]
GO
/****** Object:  View [dbo].[vw_ActiveBatches]    Script Date: 17.05.2026 13:17:57 ******/
DROP VIEW [dbo].[vw_ActiveBatches]
GO
/****** Object:  Table [dbo].[ProductionBatches]    Script Date: 17.05.2026 13:17:57 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ProductionBatches]') AND type in (N'U'))
DROP TABLE [dbo].[ProductionBatches]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 17.05.2026 13:17:57 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Products]') AND type in (N'U'))
DROP TABLE [dbo].[Products]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_SafeSearch]    Script Date: 17.05.2026 13:17:57 ******/
DROP FUNCTION [dbo].[fn_SafeSearch]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_SafeSearch]    Script Date: 17.05.2026 13:17:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =====================================================
-- 1. Использование параметризованных запросов в процедурах
--    Все процедуры выше используют параметры (@Parameter)
-- =====================================================

-- =====================================================
-- 2. Функция для безопасного поиска (экранирование спецсимволов)
-- =====================================================
CREATE   FUNCTION [dbo].[fn_SafeSearch](@SearchText NVARCHAR(500))
RETURNS NVARCHAR(500)
AS
BEGIN
    -- Заменяем опасные символы
    SET @SearchText = REPLACE(@SearchText, '%', '[%]');
    SET @SearchText = REPLACE(@SearchText, '_', '[_]');
    SET @SearchText = REPLACE(@SearchText, '[', '[[]');
    RETURN @SearchText;
END;
GO
ALTER AUTHORIZATION ON [dbo].[fn_SafeSearch] TO  SCHEMA OWNER 
GO
/****** Object:  Table [dbo].[Products]    Script Date: 17.05.2026 13:17:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](50) NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[ProductType] [nvarchar](50) NULL,
	[Form] [nvarchar](50) NULL,
	[Status] [nvarchar](50) NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER AUTHORIZATION ON [dbo].[Products] TO  SCHEMA OWNER 
GO
/****** Object:  Table [dbo].[ProductionBatches]    Script Date: 17.05.2026 13:17:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductionBatches](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[BatchNumber] [nvarchar](50) NOT NULL,
	[OrderId] [int] NULL,
	[ProductId] [int] NOT NULL,
	[RecipeId] [int] NOT NULL,
	[TechCardId] [int] NOT NULL,
	[Line] [nvarchar](50) NULL,
	[Status] [nvarchar](50) NOT NULL,
	[LabStatus] [nvarchar](50) NULL,
	[StartedAt] [datetime2](7) NULL,
	[FinishedAt] [datetime2](7) NULL,
	[CreatedBy] [int] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[EquipmentId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER AUTHORIZATION ON [dbo].[ProductionBatches] TO  SCHEMA OWNER 
GO
/****** Object:  View [dbo].[vw_ActiveBatches]    Script Date: 17.05.2026 13:17:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =====================================================
-- 3. Просмотр только через представления (ограничение доступа)
-- =====================================================
CREATE   VIEW [dbo].[vw_ActiveBatches] AS
SELECT 
    b.BatchNumber,
    p.Name AS ProductName,
    b.Line,
    b.Status,
    b.StartedAt
FROM ProductionBatches b
JOIN Products p ON b.ProductId = p.Id
WHERE b.Status IN ('Подготовлена', 'В работе');
GO
ALTER AUTHORIZATION ON [dbo].[vw_ActiveBatches] TO  SCHEMA OWNER 
GO
/****** Object:  Table [dbo].[Recipes]    Script Date: 17.05.2026 13:17:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Recipes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProductId] [int] NOT NULL,
	[Version] [nvarchar](10) NOT NULL,
	[Status] [nvarchar](50) NOT NULL,
	[ApprovedAt] [datetime2](7) NULL,
	[ApprovedBy] [int] NULL,
	[CreatedBy] [int] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER AUTHORIZATION ON [dbo].[Recipes] TO  SCHEMA OWNER 
GO
/****** Object:  Table [dbo].[RecipeComponents]    Script Date: 17.05.2026 13:17:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RecipeComponents](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RecipeId] [int] NOT NULL,
	[RawMaterialId] [int] NOT NULL,
	[Percentage] [decimal](10, 2) NOT NULL,
	[ToleranceMin] [decimal](10, 2) NULL,
	[ToleranceMax] [decimal](10, 2) NULL,
	[LoadOrder] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER AUTHORIZATION ON [dbo].[RecipeComponents] TO  SCHEMA OWNER 
GO
/****** Object:  View [dbo].[vw_RecipeComponentsSum]    Script Date: 17.05.2026 13:17:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =====================================================
-- ДОПОЛНИТЕЛЬНО: Представление для контроля суммы компонентов
-- Удобно для отладки и отчётности
-- =====================================================
CREATE   VIEW [dbo].[vw_RecipeComponentsSum] AS
SELECT 
    r.Id AS RecipeId,
    r.ProductId,
    p.Name AS ProductName,
    r.Version,
    r.Status,
    ISNULL(SUM(rc.Percentage), 0) AS TotalPercentage,
    CASE 
        WHEN ISNULL(SUM(rc.Percentage), 0) = 100 THEN 'Корректна'
        WHEN ISNULL(SUM(rc.Percentage), 0) < 100 THEN 'Недобор (' + CAST(100 - ISNULL(SUM(rc.Percentage), 0) AS NVARCHAR(10)) + '%)'
        ELSE 'Перебор (' + CAST(ISNULL(SUM(rc.Percentage), 0) - 100 AS NVARCHAR(10)) + '%)'
    END AS ValidationStatus
FROM [dbo].[Recipes] r
LEFT JOIN [dbo].[RecipeComponents] rc ON rc.RecipeId = r.Id
LEFT JOIN [dbo].[Products] p ON p.Id = r.ProductId
GROUP BY r.Id, r.ProductId, p.Name, r.Version, r.Status;
GO
ALTER AUTHORIZATION ON [dbo].[vw_RecipeComponentsSum] TO  SCHEMA OWNER 
GO
/****** Object:  Table [dbo].[AuditLogs]    Script Date: 17.05.2026 13:17:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AuditLogs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[Action] [nvarchar](100) NOT NULL,
	[EntityType] [nvarchar](50) NOT NULL,
	[EntityId] [int] NOT NULL,
	[OldValue] [nvarchar](max) NULL,
	[NewValue] [nvarchar](max) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[IpAddress] [nvarchar](45) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER AUTHORIZATION ON [dbo].[AuditLogs] TO  SCHEMA OWNER 
GO
/****** Object:  Table [dbo].[BatchMaterials]    Script Date: 17.05.2026 13:17:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BatchMaterials](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[BatchId] [int] NOT NULL,
	[RawMaterialBatchId] [int] NOT NULL,
	[QuantityUsed] [decimal](15, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER AUTHORIZATION ON [dbo].[BatchMaterials] TO  SCHEMA OWNER 
GO
/****** Object:  Table [dbo].[BatchStepExecutions]    Script Date: 17.05.2026 13:17:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BatchStepExecutions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[BatchId] [int] NOT NULL,
	[StepId] [int] NOT NULL,
	[StepNumber] [int] NOT NULL,
	[Status] [nvarchar](50) NOT NULL,
	[StartedAt] [datetime2](7) NULL,
	[FinishedAt] [datetime2](7) NULL,
	[StartedBy] [int] NULL,
	[FinishedBy] [int] NULL,
	[ActualParams] [nvarchar](max) NULL,
	[EquipmentId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER AUTHORIZATION ON [dbo].[BatchStepExecutions] TO  SCHEMA OWNER 
GO
/****** Object:  Table [dbo].[DeviationEvents]    Script Date: 17.05.2026 13:17:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DeviationEvents](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[BatchId] [int] NOT NULL,
	[StepExecutionId] [int] NULL,
	[EventType] [nvarchar](50) NOT NULL,
	[ParameterName] [nvarchar](100) NULL,
	[PlannedValue] [nvarchar](50) NULL,
	[ActualValue] [nvarchar](50) NULL,
	[Severity] [nvarchar](20) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[ResolvedAt] [datetime2](7) NULL,
	[ResolvedBy] [int] NULL,
	[EquipmentId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER AUTHORIZATION ON [dbo].[DeviationEvents] TO  SCHEMA OWNER 
GO
/****** Object:  Table [dbo].[Equipment]    Script Date: 17.05.2026 13:17:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Equipment](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](50) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Line] [nvarchar](50) NULL,
	[IsActive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER AUTHORIZATION ON [dbo].[Equipment] TO  SCHEMA OWNER 
GO
/****** Object:  Table [dbo].[EquipmentLogs]    Script Date: 17.05.2026 13:17:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EquipmentLogs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EquipmentId] [int] NOT NULL,
	[BatchId] [int] NULL,
	[EventType] [nvarchar](50) NOT NULL,
	[EventTime] [datetime2](7) NOT NULL,
	[Parameters] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER AUTHORIZATION ON [dbo].[EquipmentLogs] TO  SCHEMA OWNER 
GO
/****** Object:  Table [dbo].[ExtruderLogs]    Script Date: 17.05.2026 13:17:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ExtruderLogs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[BatchId] [int] NOT NULL,
	[ProgramId] [int] NOT NULL,
	[LoadedAt] [datetime2](7) NOT NULL,
	[LoadedBy] [int] NOT NULL,
	[Parameters] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER AUTHORIZATION ON [dbo].[ExtruderLogs] TO  SCHEMA OWNER 
GO
/****** Object:  Table [dbo].[ExtruderPrograms]    Script Date: 17.05.2026 13:17:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ExtruderPrograms](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](500) NULL,
	[ProductId] [int] NOT NULL,
	[Status] [nvarchar](50) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[ActivatedAt] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER AUTHORIZATION ON [dbo].[ExtruderPrograms] TO  SCHEMA OWNER 
GO
/****** Object:  Table [dbo].[ExtruderTelemetry]    Script Date: 17.05.2026 13:17:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ExtruderTelemetry](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[BatchNumber] [nvarchar](50) NOT NULL,
	[ZoneNumber] [int] NOT NULL,
	[CurrentTemperature] [decimal](10, 2) NOT NULL,
	[CurrentPressure] [decimal](10, 2) NOT NULL,
	[CurrentSpeed] [int] NOT NULL,
	[Timestamp] [datetime2](7) NOT NULL,
	[Status] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER AUTHORIZATION ON [dbo].[ExtruderTelemetry] TO  SCHEMA OWNER 
GO
/****** Object:  Table [dbo].[ExtruderZones]    Script Date: 17.05.2026 13:17:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ExtruderZones](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProgramId] [int] NOT NULL,
	[ZoneNumber] [int] NOT NULL,
	[ZoneName] [nvarchar](50) NOT NULL,
	[TemperatureSetpoint] [decimal](10, 2) NOT NULL,
	[TemperatureMin] [decimal](10, 2) NOT NULL,
	[TemperatureMax] [decimal](10, 2) NOT NULL,
	[PressureSetpoint] [decimal](10, 2) NOT NULL,
	[PressureMin] [decimal](10, 2) NOT NULL,
	[PressureMax] [decimal](10, 2) NOT NULL,
	[ScrewSpeed] [int] NOT NULL,
	[FeedRate] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER AUTHORIZATION ON [dbo].[ExtruderZones] TO  SCHEMA OWNER 
GO
/****** Object:  Table [dbo].[LabTestParameters]    Script Date: 17.05.2026 13:17:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LabTestParameters](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TestId] [int] NOT NULL,
	[ParameterName] [nvarchar](100) NOT NULL,
	[NormMin] [decimal](15, 2) NULL,
	[NormMax] [decimal](15, 2) NULL,
	[ActualValue] [decimal](15, 2) NULL,
	[Unit] [nvarchar](20) NULL,
	[IsPassed] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER AUTHORIZATION ON [dbo].[LabTestParameters] TO  SCHEMA OWNER 
GO
/****** Object:  Table [dbo].[LabTests]    Script Date: 17.05.2026 13:17:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LabTests](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TestNumber] [nvarchar](50) NOT NULL,
	[TestType] [nvarchar](50) NOT NULL,
	[ObjectType] [nvarchar](20) NOT NULL,
	[ObjectId] [int] NOT NULL,
	[AssignedAt] [datetime2](7) NOT NULL,
	[AssignedBy] [int] NOT NULL,
	[ExecutedBy] [int] NULL,
	[ExecutedAt] [datetime2](7) NULL,
	[Status] [nvarchar](50) NOT NULL,
	[Priority] [nvarchar](20) NOT NULL,
	[Comment] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER AUTHORIZATION ON [dbo].[LabTests] TO  SCHEMA OWNER 
GO
/****** Object:  Table [dbo].[MaintenanceRecords]    Script Date: 17.05.2026 13:17:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MaintenanceRecords](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EquipmentId] [int] NOT NULL,
	[MaintenanceDate] [datetime2](7) NOT NULL,
	[Type] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[PerformedBy] [int] NULL,
	[NextMaintenanceDate] [date] NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER AUTHORIZATION ON [dbo].[MaintenanceRecords] TO  SCHEMA OWNER 
GO
/****** Object:  Table [dbo].[Notifications]    Script Date: 17.05.2026 13:17:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notifications](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[Type] [nvarchar](50) NOT NULL,
	[Title] [nvarchar](200) NOT NULL,
	[Message] [nvarchar](max) NOT NULL,
	[IsRead] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[Metadata] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER AUTHORIZATION ON [dbo].[Notifications] TO  SCHEMA OWNER 
GO
/****** Object:  Table [dbo].[ProductionOrders]    Script Date: 17.05.2026 13:17:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductionOrders](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[OrderNumber] [nvarchar](50) NOT NULL,
	[ProductId] [int] NOT NULL,
	[PlannedQuantity] [decimal](15, 2) NOT NULL,
	[Unit] [nvarchar](20) NOT NULL,
	[Status] [nvarchar](50) NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[PlannedStartDate] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER AUTHORIZATION ON [dbo].[ProductionOrders] TO  SCHEMA OWNER 
GO
/****** Object:  Table [dbo].[RawMaterialBatches]    Script Date: 17.05.2026 13:17:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RawMaterialBatches](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[BatchNumber] [nvarchar](50) NOT NULL,
	[SupplierBatch] [nvarchar](50) NULL,
	[MaterialId] [int] NOT NULL,
	[Supplier] [nvarchar](200) NOT NULL,
	[Quantity] [decimal](15, 2) NOT NULL,
	[Unit] [nvarchar](20) NOT NULL,
	[ArrivalDate] [date] NOT NULL,
	[LabStatus] [nvarchar](50) NOT NULL,
	[DecisionAt] [datetime2](7) NULL,
	[DecisionBy] [int] NULL,
	[Comment] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER AUTHORIZATION ON [dbo].[RawMaterialBatches] TO  SCHEMA OWNER 
GO
/****** Object:  Table [dbo].[RawMaterials]    Script Date: 17.05.2026 13:17:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RawMaterials](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](50) NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[Category] [nvarchar](50) NULL,
	[Unit] [nvarchar](20) NOT NULL,
	[IsActive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER AUTHORIZATION ON [dbo].[RawMaterials] TO  SCHEMA OWNER 
GO
/****** Object:  Table [dbo].[RefreshTokens]    Script Date: 17.05.2026 13:17:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RefreshTokens](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[Token] [nvarchar](500) NOT NULL,
	[ExpiresAt] [datetime2](7) NOT NULL,
	[IsRevoked] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[RevokedAt] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER AUTHORIZATION ON [dbo].[RefreshTokens] TO  SCHEMA OWNER 
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 17.05.2026 13:17:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER AUTHORIZATION ON [dbo].[Roles] TO  SCHEMA OWNER 
GO
/****** Object:  Table [dbo].[StatusHistory]    Script Date: 17.05.2026 13:17:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StatusHistory](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EntityType] [nvarchar](50) NOT NULL,
	[EntityId] [int] NOT NULL,
	[OldStatus] [nvarchar](50) NULL,
	[NewStatus] [nvarchar](50) NOT NULL,
	[ChangedBy] [int] NOT NULL,
	[ChangedAt] [datetime2](7) NOT NULL,
	[Comment] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER AUTHORIZATION ON [dbo].[StatusHistory] TO  SCHEMA OWNER 
GO
/****** Object:  Table [dbo].[TechCards]    Script Date: 17.05.2026 13:17:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TechCards](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProductId] [int] NOT NULL,
	[Version] [nvarchar](10) NOT NULL,
	[Status] [nvarchar](50) NOT NULL,
	[ApprovedAt] [datetime2](7) NULL,
	[ApprovedBy] [int] NULL,
	[CreatedBy] [int] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER AUTHORIZATION ON [dbo].[TechCards] TO  SCHEMA OWNER 
GO
/****** Object:  Table [dbo].[TechSteps]    Script Date: 17.05.2026 13:17:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TechSteps](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TechCardId] [int] NOT NULL,
	[StepNumber] [int] NOT NULL,
	[StepType] [nvarchar](50) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Instruction] [nvarchar](max) NULL,
	[IsMandatory] [bit] NOT NULL,
	[PlannedParams] [nvarchar](max) NULL,
	[ToleranceParams] [nvarchar](max) NULL,
	[EquipmentId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER AUTHORIZATION ON [dbo].[TechSteps] TO  SCHEMA OWNER 
GO
/****** Object:  Table [dbo].[Users]    Script Date: 17.05.2026 13:17:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Login] [nvarchar](50) NOT NULL,
	[PasswordHash] [nvarchar](255) NOT NULL,
	[FullName] [nvarchar](150) NOT NULL,
	[RoleId] [int] NOT NULL,
	[Department] [nvarchar](100) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[Avatar] [varbinary](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER AUTHORIZATION ON [dbo].[Users] TO  SCHEMA OWNER 
GO
SET IDENTITY_INSERT [dbo].[AuditLogs] ON 

INSERT [dbo].[AuditLogs] ([Id], [UserId], [Action], [EntityType], [EntityId], [OldValue], [NewValue], [CreatedAt], [IpAddress]) VALUES (1, 1, N'Login', N'User', 1, NULL, N'{"status": "logged_in"}', CAST(N'2026-05-14T10:29:07.1633333' AS DateTime2), N'192.168.1.100')
INSERT [dbo].[AuditLogs] ([Id], [UserId], [Action], [EntityType], [EntityId], [OldValue], [NewValue], [CreatedAt], [IpAddress]) VALUES (2, 1, N'Create', N'ProductionOrder', 1, NULL, N'{"orderNumber": "PO-2024-001"}', CAST(N'2026-05-14T11:29:07.1633333' AS DateTime2), N'192.168.1.100')
INSERT [dbo].[AuditLogs] ([Id], [UserId], [Action], [EntityType], [EntityId], [OldValue], [NewValue], [CreatedAt], [IpAddress]) VALUES (3, 2, N'Start', N'BatchStep', 1, NULL, N'{"stepNumber": 1, "batchId": 1}', CAST(N'2026-05-14T12:29:07.1633333' AS DateTime2), N'192.168.1.101')
SET IDENTITY_INSERT [dbo].[AuditLogs] OFF
GO
SET IDENTITY_INSERT [dbo].[BatchMaterials] ON 

INSERT [dbo].[BatchMaterials] ([Id], [BatchId], [RawMaterialBatchId], [QuantityUsed]) VALUES (1, 1, 5, CAST(109.00 AS Decimal(15, 2)))
INSERT [dbo].[BatchMaterials] ([Id], [BatchId], [RawMaterialBatchId], [QuantityUsed]) VALUES (2, 2, 5, CAST(339.00 AS Decimal(15, 2)))
INSERT [dbo].[BatchMaterials] ([Id], [BatchId], [RawMaterialBatchId], [QuantityUsed]) VALUES (3, 3, 5, CAST(365.00 AS Decimal(15, 2)))
SET IDENTITY_INSERT [dbo].[BatchMaterials] OFF
GO
SET IDENTITY_INSERT [dbo].[BatchStepExecutions] ON 

INSERT [dbo].[BatchStepExecutions] ([Id], [BatchId], [StepId], [StepNumber], [Status], [StartedAt], [FinishedAt], [StartedBy], [FinishedBy], [ActualParams], [EquipmentId]) VALUES (1, 1, 1, 1, N'Завершен', CAST(N'2026-05-15T08:23:42.1200000' AS DateTime2), CAST(N'2026-05-15T14:04:07.3484910' AS DateTime2), 2, 1, N'{"temperature":150.0,"pressure":50.0,"speed":300}', 7)
INSERT [dbo].[BatchStepExecutions] ([Id], [BatchId], [StepId], [StepNumber], [Status], [StartedAt], [FinishedAt], [StartedBy], [FinishedBy], [ActualParams], [EquipmentId]) VALUES (2, 1, 2, 2, N'Завершен', CAST(N'2026-05-15T06:23:42.1200000' AS DateTime2), NULL, 2, NULL, N'{"temperature": 160, "pressure": 50, "speed": 300}', 3)
INSERT [dbo].[BatchStepExecutions] ([Id], [BatchId], [StepId], [StepNumber], [Status], [StartedAt], [FinishedAt], [StartedBy], [FinishedBy], [ActualParams], [EquipmentId]) VALUES (3, 1, 3, 3, N'Не начат', NULL, NULL, NULL, NULL, NULL, 1)
SET IDENTITY_INSERT [dbo].[BatchStepExecutions] OFF
GO
SET IDENTITY_INSERT [dbo].[DeviationEvents] ON 

INSERT [dbo].[DeviationEvents] ([Id], [BatchId], [StepExecutionId], [EventType], [ParameterName], [PlannedValue], [ActualValue], [Severity], [Description], [CreatedAt], [CreatedBy], [ResolvedAt], [ResolvedBy], [EquipmentId]) VALUES (1, 1, NULL, N'Температура', N'Температура экструзии', N'Плановое значение', N'Фактическое значение', N'Предупреждение', N'Отклонение параметра в процессе производства', CAST(N'2026-05-14T13:24:09.9800000' AS DateTime2), 2, NULL, NULL, NULL)
INSERT [dbo].[DeviationEvents] ([Id], [BatchId], [StepExecutionId], [EventType], [ParameterName], [PlannedValue], [ActualValue], [Severity], [Description], [CreatedAt], [CreatedBy], [ResolvedAt], [ResolvedBy], [EquipmentId]) VALUES (2, 2, NULL, N'Давление', N'Давление в зоне', N'Плановое значение', N'Фактическое значение', N'Критично', N'Отклонение параметра в процессе производства', CAST(N'2026-05-15T10:24:09.9800000' AS DateTime2), 2, NULL, NULL, NULL)
INSERT [dbo].[DeviationEvents] ([Id], [BatchId], [StepExecutionId], [EventType], [ParameterName], [PlannedValue], [ActualValue], [Severity], [Description], [CreatedAt], [CreatedBy], [ResolvedAt], [ResolvedBy], [EquipmentId]) VALUES (3, 3, NULL, N'Температура', N'Давление в зоне', N'Плановое значение', N'Фактическое значение', N'Критично', N'Отклонение параметра в процессе производства', CAST(N'2026-05-14T01:24:09.9800000' AS DateTime2), 2, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[DeviationEvents] OFF
GO
SET IDENTITY_INSERT [dbo].[Equipment] ON 

INSERT [dbo].[Equipment] ([Id], [Code], [Name], [Line], [IsActive]) VALUES (1, N'EXTR-01', N'Экструдер основной', N'L-01', 1)
INSERT [dbo].[Equipment] ([Id], [Code], [Name], [Line], [IsActive]) VALUES (2, N'EXTR-02', N'Экструдер резервный', N'L-02', 1)
INSERT [dbo].[Equipment] ([Id], [Code], [Name], [Line], [IsActive]) VALUES (3, N'MIX-01', N'Смеситель высокоскоростной', N'L-01', 1)
SET IDENTITY_INSERT [dbo].[Equipment] OFF
GO
SET IDENTITY_INSERT [dbo].[EquipmentLogs] ON 

INSERT [dbo].[EquipmentLogs] ([Id], [EquipmentId], [BatchId], [EventType], [EventTime], [Parameters], [Description]) VALUES (1, 1, 4, N'Start', CAST(N'2026-05-13T17:29:07.1633333' AS DateTime2), N'{"temp": 154}', N'Предупреждение о превышении температуры')
INSERT [dbo].[EquipmentLogs] ([Id], [EquipmentId], [BatchId], [EventType], [EventTime], [Parameters], [Description]) VALUES (2, 2, 4, N'Stop', CAST(N'2026-05-13T22:29:07.1633333' AS DateTime2), N'{"temp": 172}', N'Предупреждение о превышении температуры')
INSERT [dbo].[EquipmentLogs] ([Id], [EquipmentId], [BatchId], [EventType], [EventTime], [Parameters], [Description]) VALUES (3, 3, 4, N'Warning', CAST(N'2026-05-13T11:29:07.1633333' AS DateTime2), N'{"temp": 157}', N'Предупреждение о превышении температуры')
SET IDENTITY_INSERT [dbo].[EquipmentLogs] OFF
GO
SET IDENTITY_INSERT [dbo].[ExtruderLogs] ON 

INSERT [dbo].[ExtruderLogs] ([Id], [BatchId], [ProgramId], [LoadedAt], [LoadedBy], [Parameters]) VALUES (1, 1, 1, CAST(N'2026-05-14T18:29:07.1600000' AS DateTime2), 2, N'{"temperature": 166, "pressure": 50}')
INSERT [dbo].[ExtruderLogs] ([Id], [BatchId], [ProgramId], [LoadedAt], [LoadedBy], [Parameters]) VALUES (2, 1, 5, CAST(N'2026-05-14T22:29:07.1600000' AS DateTime2), 2, N'{"temperature": 155, "pressure": 57}')
INSERT [dbo].[ExtruderLogs] ([Id], [BatchId], [ProgramId], [LoadedAt], [LoadedBy], [Parameters]) VALUES (3, 2, 2, CAST(N'2026-05-14T09:29:07.1600000' AS DateTime2), 2, N'{"temperature": 172, "pressure": 53}')
SET IDENTITY_INSERT [dbo].[ExtruderLogs] OFF
GO
SET IDENTITY_INSERT [dbo].[ExtruderPrograms] ON 

INSERT [dbo].[ExtruderPrograms] ([Id], [Name], [Description], [ProductId], [Status], [CreatedAt], [ActivatedAt]) VALUES (1, N'Программа для Гранул А', N'Стандартная программа для продукта Гранулы А', 1, N'Активна', CAST(N'2026-04-15T10:29:07.1500000' AS DateTime2), CAST(N'2026-04-15T10:29:07.1500000' AS DateTime2))
INSERT [dbo].[ExtruderPrograms] ([Id], [Name], [Description], [ProductId], [Status], [CreatedAt], [ActivatedAt]) VALUES (2, N'Программа для Гранул Б', N'Усиленная программа для продукта Гранулы Б', 2, N'Активна', CAST(N'2026-04-20T10:29:07.1500000' AS DateTime2), CAST(N'2026-04-20T10:29:07.1500000' AS DateTime2))
INSERT [dbo].[ExtruderPrograms] ([Id], [Name], [Description], [ProductId], [Status], [CreatedAt], [ActivatedAt]) VALUES (3, N'Программа для Гранул В', N'Экономичная программа', 3, N'Черновик', CAST(N'2026-05-05T10:29:07.1500000' AS DateTime2), NULL)
SET IDENTITY_INSERT [dbo].[ExtruderPrograms] OFF
GO
SET IDENTITY_INSERT [dbo].[ExtruderTelemetry] ON 

INSERT [dbo].[ExtruderTelemetry] ([Id], [BatchNumber], [ZoneNumber], [CurrentTemperature], [CurrentPressure], [CurrentSpeed], [Timestamp], [Status]) VALUES (1, N'B-2026-001', 1, CAST(155.00 AS Decimal(10, 2)), CAST(48.00 AS Decimal(10, 2)), 293, CAST(N'2026-05-15T08:39:05.6900000' AS DateTime2), N'Предупреждение')
INSERT [dbo].[ExtruderTelemetry] ([Id], [BatchNumber], [ZoneNumber], [CurrentTemperature], [CurrentPressure], [CurrentSpeed], [Timestamp], [Status]) VALUES (2, N'B-2026-002', 1, CAST(154.00 AS Decimal(10, 2)), CAST(54.00 AS Decimal(10, 2)), 314, CAST(N'2026-05-15T10:17:05.6900000' AS DateTime2), N'Предупреждение')
INSERT [dbo].[ExtruderTelemetry] ([Id], [BatchNumber], [ZoneNumber], [CurrentTemperature], [CurrentPressure], [CurrentSpeed], [Timestamp], [Status]) VALUES (3, N'B-2026-003', 1, CAST(145.00 AS Decimal(10, 2)), CAST(57.00 AS Decimal(10, 2)), 298, CAST(N'2026-05-15T08:40:05.6900000' AS DateTime2), N'Норма')
SET IDENTITY_INSERT [dbo].[ExtruderTelemetry] OFF
GO
SET IDENTITY_INSERT [dbo].[ExtruderZones] ON 

INSERT [dbo].[ExtruderZones] ([Id], [ProgramId], [ZoneNumber], [ZoneName], [TemperatureSetpoint], [TemperatureMin], [TemperatureMax], [PressureSetpoint], [PressureMin], [PressureMax], [ScrewSpeed], [FeedRate]) VALUES (1, 1, 1, N'Зона загрузки', CAST(150.00 AS Decimal(10, 2)), CAST(140.00 AS Decimal(10, 2)), CAST(160.00 AS Decimal(10, 2)), CAST(50.00 AS Decimal(10, 2)), CAST(45.00 AS Decimal(10, 2)), CAST(55.00 AS Decimal(10, 2)), 300, 100)
INSERT [dbo].[ExtruderZones] ([Id], [ProgramId], [ZoneNumber], [ZoneName], [TemperatureSetpoint], [TemperatureMin], [TemperatureMax], [PressureSetpoint], [PressureMin], [PressureMax], [ScrewSpeed], [FeedRate]) VALUES (2, 1, 2, N'Зона плавления', CAST(170.00 AS Decimal(10, 2)), CAST(160.00 AS Decimal(10, 2)), CAST(180.00 AS Decimal(10, 2)), CAST(55.00 AS Decimal(10, 2)), CAST(50.00 AS Decimal(10, 2)), CAST(60.00 AS Decimal(10, 2)), 320, 100)
INSERT [dbo].[ExtruderZones] ([Id], [ProgramId], [ZoneNumber], [ZoneName], [TemperatureSetpoint], [TemperatureMin], [TemperatureMax], [PressureSetpoint], [PressureMin], [PressureMax], [ScrewSpeed], [FeedRate]) VALUES (3, 1, 3, N'Зона гомогенизации', CAST(165.00 AS Decimal(10, 2)), CAST(155.00 AS Decimal(10, 2)), CAST(175.00 AS Decimal(10, 2)), CAST(52.00 AS Decimal(10, 2)), CAST(48.00 AS Decimal(10, 2)), CAST(56.00 AS Decimal(10, 2)), 310, 100)
SET IDENTITY_INSERT [dbo].[ExtruderZones] OFF
GO
SET IDENTITY_INSERT [dbo].[LabTestParameters] ON 

INSERT [dbo].[LabTestParameters] ([Id], [TestId], [ParameterName], [NormMin], [NormMax], [ActualValue], [Unit], [IsPassed]) VALUES (1, 1, N'pH', CAST(6.50 AS Decimal(15, 2)), CAST(97.00 AS Decimal(15, 2)), NULL, N'', 0)
INSERT [dbo].[LabTestParameters] ([Id], [TestId], [ParameterName], [NormMin], [NormMax], [ActualValue], [Unit], [IsPassed]) VALUES (2, 2, N'Концентрация', CAST(6.50 AS Decimal(15, 2)), CAST(7.50 AS Decimal(15, 2)), CAST(6.50 AS Decimal(15, 2)), N'', 1)
INSERT [dbo].[LabTestParameters] ([Id], [TestId], [ParameterName], [NormMin], [NormMax], [ActualValue], [Unit], [IsPassed]) VALUES (3, 3, N'Влажность', CAST(6.50 AS Decimal(15, 2)), CAST(7.50 AS Decimal(15, 2)), NULL, N'', 0)
SET IDENTITY_INSERT [dbo].[LabTestParameters] OFF
GO
SET IDENTITY_INSERT [dbo].[LabTests] ON 

INSERT [dbo].[LabTests] ([Id], [TestNumber], [TestType], [ObjectType], [ObjectId], [AssignedAt], [AssignedBy], [ExecutedBy], [ExecutedAt], [Status], [Priority], [Comment]) VALUES (1, N'QC-RM-001', N'Входной контроль', N'RawMaterial', 1, CAST(N'2026-05-13T10:23:52.2500000' AS DateTime2), 3, NULL, NULL, N'Создано', N'Обычный', NULL)
INSERT [dbo].[LabTests] ([Id], [TestNumber], [TestType], [ObjectType], [ObjectId], [AssignedAt], [AssignedBy], [ExecutedBy], [ExecutedAt], [Status], [Priority], [Comment]) VALUES (2, N'QC-RM-002', N'Входной контроль', N'RawMaterial', 2, CAST(N'2026-05-12T10:23:52.2500000' AS DateTime2), 3, 3, CAST(N'2026-05-14T10:23:52.2500000' AS DateTime2), N'Завершено', N'Обычный', NULL)
INSERT [dbo].[LabTests] ([Id], [TestNumber], [TestType], [ObjectType], [ObjectId], [AssignedAt], [AssignedBy], [ExecutedBy], [ExecutedAt], [Status], [Priority], [Comment]) VALUES (3, N'QC-RM-003', N'Входной контроль', N'RawMaterial', 3, CAST(N'2026-05-11T10:23:52.2500000' AS DateTime2), 3, NULL, NULL, N'В работе', N'Высокий', NULL)
SET IDENTITY_INSERT [dbo].[LabTests] OFF
GO
SET IDENTITY_INSERT [dbo].[MaintenanceRecords] ON 

INSERT [dbo].[MaintenanceRecords] ([Id], [EquipmentId], [MaintenanceDate], [Type], [Description], [PerformedBy], [NextMaintenanceDate], [CreatedAt]) VALUES (1, 1, CAST(N'2026-04-15T10:29:07.1633333' AS DateTime2), N'Плановое ТО', N'Замена масла и фильтров, проверка нагревателей', 2, CAST(N'2026-06-14' AS Date), CAST(N'2026-05-15T10:29:07.1633333' AS DateTime2))
INSERT [dbo].[MaintenanceRecords] ([Id], [EquipmentId], [MaintenanceDate], [Type], [Description], [PerformedBy], [NextMaintenanceDate], [CreatedAt]) VALUES (2, 1, CAST(N'2026-03-16T10:29:07.1633333' AS DateTime2), N'Ремонт', N'Замена подшипников', 2, CAST(N'2026-06-14' AS Date), CAST(N'2026-05-15T10:29:07.1633333' AS DateTime2))
INSERT [dbo].[MaintenanceRecords] ([Id], [EquipmentId], [MaintenanceDate], [Type], [Description], [PerformedBy], [NextMaintenanceDate], [CreatedAt]) VALUES (3, 2, CAST(N'2026-04-25T10:29:07.1633333' AS DateTime2), N'Плановое ТО', N'Смазка и диагностика', 2, CAST(N'2026-06-24' AS Date), CAST(N'2026-05-15T10:29:07.1633333' AS DateTime2))
SET IDENTITY_INSERT [dbo].[MaintenanceRecords] OFF
GO
SET IDENTITY_INSERT [dbo].[Notifications] ON 

INSERT [dbo].[Notifications] ([Id], [UserId], [Type], [Title], [Message], [IsRead], [CreatedAt], [Metadata]) VALUES (1, 2, N'Step', N'Новый шаг', N'Начинайте выполнение шага 1 для партии B-2024-001', 0, CAST(N'2026-05-15T08:29:07.1633333' AS DateTime2), NULL)
INSERT [dbo].[Notifications] ([Id], [UserId], [Type], [Title], [Message], [IsRead], [CreatedAt], [Metadata]) VALUES (2, 2, N'Deviation', N'Отклонение', N'Зафиксировано отклонение температуры на экструдере', 0, CAST(N'2026-05-15T09:29:07.1633333' AS DateTime2), NULL)
INSERT [dbo].[Notifications] ([Id], [UserId], [Type], [Title], [Message], [IsRead], [CreatedAt], [Metadata]) VALUES (3, 2, N'Step', N'Шаг завершен', N'Шаг 2 партии B-2024-001 успешно завершен', 1, CAST(N'2026-05-15T07:29:07.1633333' AS DateTime2), NULL)
SET IDENTITY_INSERT [dbo].[Notifications] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductionBatches] ON 

INSERT [dbo].[ProductionBatches] ([Id], [BatchNumber], [OrderId], [ProductId], [RecipeId], [TechCardId], [Line], [Status], [LabStatus], [StartedAt], [FinishedAt], [CreatedBy], [CreatedAt], [EquipmentId]) VALUES (1, N'B-2026-001', NULL, 1, 21, 1, N'L-02', N'В работе', N'В работе', CAST(N'2026-05-14T10:23:37.1200000' AS DateTime2), CAST(N'2026-05-11T10:23:37.1200000' AS DateTime2), 1, CAST(N'2026-05-07T10:23:37.1200000' AS DateTime2), NULL)
INSERT [dbo].[ProductionBatches] ([Id], [BatchNumber], [OrderId], [ProductId], [RecipeId], [TechCardId], [Line], [Status], [LabStatus], [StartedAt], [FinishedAt], [CreatedBy], [CreatedAt], [EquipmentId]) VALUES (2, N'B-2026-002', NULL, 2, 22, 2, N'L-01', N'В работе', N'В работе', CAST(N'2026-05-11T10:23:37.1200000' AS DateTime2), CAST(N'2026-05-15T10:23:37.1200000' AS DateTime2), 1, CAST(N'2026-05-05T10:23:37.1200000' AS DateTime2), NULL)
INSERT [dbo].[ProductionBatches] ([Id], [BatchNumber], [OrderId], [ProductId], [RecipeId], [TechCardId], [Line], [Status], [LabStatus], [StartedAt], [FinishedAt], [CreatedBy], [CreatedAt], [EquipmentId]) VALUES (3, N'B-2026-003', NULL, 3, 23, 3, N'L-02', N'В работе', N'В работе', CAST(N'2026-05-07T10:23:37.1200000' AS DateTime2), CAST(N'2026-05-15T10:23:37.1200000' AS DateTime2), 1, CAST(N'2026-05-03T10:23:37.1200000' AS DateTime2), NULL)
SET IDENTITY_INSERT [dbo].[ProductionBatches] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductionOrders] ON 

INSERT [dbo].[ProductionOrders] ([Id], [OrderNumber], [ProductId], [PlannedQuantity], [Unit], [Status], [CreatedBy], [CreatedAt], [PlannedStartDate]) VALUES (1, N'PO-2026-001', 1, CAST(2761.00 AS Decimal(15, 2)), N'кг', N'Отменен', 1, CAST(N'2026-05-08T10:23:31.1600000' AS DateTime2), CAST(N'2026-05-30' AS Date))
INSERT [dbo].[ProductionOrders] ([Id], [OrderNumber], [ProductId], [PlannedQuantity], [Unit], [Status], [CreatedBy], [CreatedAt], [PlannedStartDate]) VALUES (2, N'PO-2026-002', 1, CAST(994.00 AS Decimal(15, 2)), N'кг', N'В работе', 1, CAST(N'2026-04-28T10:23:31.1600000' AS DateTime2), CAST(N'2026-06-02' AS Date))
INSERT [dbo].[ProductionOrders] ([Id], [OrderNumber], [ProductId], [PlannedQuantity], [Unit], [Status], [CreatedBy], [CreatedAt], [PlannedStartDate]) VALUES (3, N'PO-2026-003', 2, CAST(3553.00 AS Decimal(15, 2)), N'кг', N'Завершен', 1, CAST(N'2026-04-22T10:23:31.1600000' AS DateTime2), CAST(N'2026-05-19' AS Date))
SET IDENTITY_INSERT [dbo].[ProductionOrders] OFF
GO
SET IDENTITY_INSERT [dbo].[Products] ON 

INSERT [dbo].[Products] ([Id], [Code], [Name], [ProductType], [Form], [Status], [CreatedBy], [CreatedAt]) VALUES (1, N'GRAN-A', N'Гранулы А', N'Гранулы', N'Сухая', N'Активен', 1, CAST(N'2026-05-15T10:21:50.3133333' AS DateTime2))
INSERT [dbo].[Products] ([Id], [Code], [Name], [ProductType], [Form], [Status], [CreatedBy], [CreatedAt]) VALUES (2, N'GRAN-B', N'Гранулы Б', N'Гранулы', N'Сухая', N'Активен', 1, CAST(N'2026-05-15T10:21:50.3133333' AS DateTime2))
INSERT [dbo].[Products] ([Id], [Code], [Name], [ProductType], [Form], [Status], [CreatedBy], [CreatedAt]) VALUES (3, N'GRAN-C', N'Гранулы В', N'Гранулы', N'Сухая', N'Активен', 1, CAST(N'2026-05-15T10:21:50.3133333' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Products] OFF
GO
SET IDENTITY_INSERT [dbo].[RawMaterialBatches] ON 

INSERT [dbo].[RawMaterialBatches] ([Id], [BatchNumber], [SupplierBatch], [MaterialId], [Supplier], [Quantity], [Unit], [ArrivalDate], [LabStatus], [DecisionAt], [DecisionBy], [Comment]) VALUES (1, N'RM-2024-001', N'SUP-001', 1, N'ООО "ХимПром"', CAST(1000.00 AS Decimal(15, 2)), N'кг', CAST(N'2026-05-12' AS Date), N'Ожидает', NULL, NULL, NULL)
INSERT [dbo].[RawMaterialBatches] ([Id], [BatchNumber], [SupplierBatch], [MaterialId], [Supplier], [Quantity], [Unit], [ArrivalDate], [LabStatus], [DecisionAt], [DecisionBy], [Comment]) VALUES (2, N'RM-2024-002', N'SUP-002', 2, N'ЗАО "АгроХим"', CAST(500.00 AS Decimal(15, 2)), N'кг', CAST(N'2026-05-10' AS Date), N'Ожидает', NULL, NULL, NULL)
INSERT [dbo].[RawMaterialBatches] ([Id], [BatchNumber], [SupplierBatch], [MaterialId], [Supplier], [Quantity], [Unit], [ArrivalDate], [LabStatus], [DecisionAt], [DecisionBy], [Comment]) VALUES (3, N'RM-2024-003', N'SUP-003', 3, N'ООО "Базальт"', CAST(750.00 AS Decimal(15, 2)), N'кг', CAST(N'2026-05-08' AS Date), N'В работе', NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[RawMaterialBatches] OFF
GO
SET IDENTITY_INSERT [dbo].[RawMaterials] ON 

INSERT [dbo].[RawMaterials] ([Id], [Code], [Name], [Category], [Unit], [IsActive]) VALUES (1, N'BASE-01', N'База активная А', N'Активное вещество', N'кг', 1)
INSERT [dbo].[RawMaterials] ([Id], [Code], [Name], [Category], [Unit], [IsActive]) VALUES (2, N'BASE-02', N'База активная Б', N'Активное вещество', N'кг', 1)
INSERT [dbo].[RawMaterials] ([Id], [Code], [Name], [Category], [Unit], [IsActive]) VALUES (3, N'BASE-03', N'База активная В', N'Активное вещество', N'кг', 1)
SET IDENTITY_INSERT [dbo].[RawMaterials] OFF
GO
SET IDENTITY_INSERT [dbo].[RecipeComponents] ON 

INSERT [dbo].[RecipeComponents] ([Id], [RecipeId], [RawMaterialId], [Percentage], [ToleranceMin], [ToleranceMax], [LoadOrder]) VALUES (9, 21, 1, CAST(30.00 AS Decimal(10, 2)), CAST(28.00 AS Decimal(10, 2)), CAST(32.00 AS Decimal(10, 2)), 1)
INSERT [dbo].[RecipeComponents] ([Id], [RecipeId], [RawMaterialId], [Percentage], [ToleranceMin], [ToleranceMax], [LoadOrder]) VALUES (10, 21, 4, CAST(25.00 AS Decimal(10, 2)), CAST(23.00 AS Decimal(10, 2)), CAST(27.00 AS Decimal(10, 2)), 2)
INSERT [dbo].[RecipeComponents] ([Id], [RecipeId], [RawMaterialId], [Percentage], [ToleranceMin], [ToleranceMax], [LoadOrder]) VALUES (11, 21, 7, CAST(20.00 AS Decimal(10, 2)), CAST(18.00 AS Decimal(10, 2)), CAST(22.00 AS Decimal(10, 2)), 3)
SET IDENTITY_INSERT [dbo].[RecipeComponents] OFF
GO
SET IDENTITY_INSERT [dbo].[Recipes] ON 

INSERT [dbo].[Recipes] ([Id], [ProductId], [Version], [Status], [ApprovedAt], [ApprovedBy], [CreatedBy], [CreatedAt]) VALUES (21, 1, N'2.0', N'Утверждена', CAST(N'2026-05-15T10:23:05.7766667' AS DateTime2), 1, 1, CAST(N'2026-05-15T10:23:05.7766667' AS DateTime2))
INSERT [dbo].[Recipes] ([Id], [ProductId], [Version], [Status], [ApprovedAt], [ApprovedBy], [CreatedBy], [CreatedAt]) VALUES (22, 2, N'1.0', N'Утверждена', CAST(N'2026-05-15T10:23:05.7766667' AS DateTime2), 1, 1, CAST(N'2026-05-15T10:23:05.7766667' AS DateTime2))
INSERT [dbo].[Recipes] ([Id], [ProductId], [Version], [Status], [ApprovedAt], [ApprovedBy], [CreatedBy], [CreatedAt]) VALUES (23, 3, N'1.0', N'Утверждена', CAST(N'2026-05-15T10:23:05.7766667' AS DateTime2), 1, 1, CAST(N'2026-05-15T10:23:05.7766667' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Recipes] OFF
GO
SET IDENTITY_INSERT [dbo].[RefreshTokens] ON 

INSERT [dbo].[RefreshTokens] ([Id], [UserId], [Token], [ExpiresAt], [IsRevoked], [CreatedAt], [RevokedAt]) VALUES (1, 4, N'gOnW+DBejC2n48sfdikuFu1b9pwe9HXoB9o5nxPsKOk=', CAST(N'2026-05-23T16:47:43.0454748' AS DateTime2), 0, CAST(N'2026-05-16T16:47:43.0454748' AS DateTime2), NULL)
INSERT [dbo].[RefreshTokens] ([Id], [UserId], [Token], [ExpiresAt], [IsRevoked], [CreatedAt], [RevokedAt]) VALUES (2, 4, N'wN3C94SaSHBMr/jPA6SffQ4veNAwY6nOrP1AQZnP8HU=', CAST(N'2026-05-23T16:56:32.2607290' AS DateTime2), 0, CAST(N'2026-05-16T16:56:32.2607290' AS DateTime2), NULL)
INSERT [dbo].[RefreshTokens] ([Id], [UserId], [Token], [ExpiresAt], [IsRevoked], [CreatedAt], [RevokedAt]) VALUES (3, 4, N'YC5d/0KxPZS+zVkabDuHhSxWnPNa2MX8DEn1W2MtYtA=', CAST(N'2026-05-23T16:57:19.5485327' AS DateTime2), 0, CAST(N'2026-05-16T16:57:19.5485327' AS DateTime2), NULL)
SET IDENTITY_INSERT [dbo].[RefreshTokens] OFF
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([Id], [Name], [Description]) VALUES (1, N'Технолог', N'Управляет рецептурами и техкартами')
INSERT [dbo].[Roles] ([Id], [Name], [Description]) VALUES (2, N'Аппаратчик', N'Выполняет операции в цехе')
INSERT [dbo].[Roles] ([Id], [Name], [Description]) VALUES (3, N'Лаборант', N'Контролирует качество')
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
SET IDENTITY_INSERT [dbo].[TechCards] ON 

INSERT [dbo].[TechCards] ([Id], [ProductId], [Version], [Status], [ApprovedAt], [ApprovedBy], [CreatedBy], [CreatedAt]) VALUES (1, 1, N'1.0', N'Утверждена', CAST(N'2026-05-15T10:22:22.2666667' AS DateTime2), 1, 1, CAST(N'2026-05-15T10:22:22.2666667' AS DateTime2))
INSERT [dbo].[TechCards] ([Id], [ProductId], [Version], [Status], [ApprovedAt], [ApprovedBy], [CreatedBy], [CreatedAt]) VALUES (2, 2, N'1.0', N'Утверждена', CAST(N'2026-05-15T10:22:22.2666667' AS DateTime2), 1, 1, CAST(N'2026-05-15T10:22:22.2666667' AS DateTime2))
INSERT [dbo].[TechCards] ([Id], [ProductId], [Version], [Status], [ApprovedAt], [ApprovedBy], [CreatedBy], [CreatedAt]) VALUES (3, 3, N'1.0', N'Утверждена', CAST(N'2026-05-15T10:22:22.2666667' AS DateTime2), 1, 1, CAST(N'2026-05-15T10:22:22.2666667' AS DateTime2))
SET IDENTITY_INSERT [dbo].[TechCards] OFF
GO
SET IDENTITY_INSERT [dbo].[TechSteps] ON 

INSERT [dbo].[TechSteps] ([Id], [TechCardId], [StepNumber], [StepType], [Name], [Instruction], [IsMandatory], [PlannedParams], [ToleranceParams], [EquipmentId]) VALUES (1, 1, 1, N'Загрузка', N'Загрузка сырья', N'Загрузить компоненты по рецептуре в смеситель', 1, NULL, NULL, NULL)
INSERT [dbo].[TechSteps] ([Id], [TechCardId], [StepNumber], [StepType], [Name], [Instruction], [IsMandatory], [PlannedParams], [ToleranceParams], [EquipmentId]) VALUES (2, 1, 2, N'Смешивание', N'Смешивание', N'Смешивать 30 минут при скорости 300 об/мин', 1, NULL, NULL, NULL)
INSERT [dbo].[TechSteps] ([Id], [TechCardId], [StepNumber], [StepType], [Name], [Instruction], [IsMandatory], [PlannedParams], [ToleranceParams], [EquipmentId]) VALUES (3, 1, 3, N'Экструзия', N'Экструзия', N'Температура 150-170°C, давление 45-55 бар', 1, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[TechSteps] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [Login], [PasswordHash], [FullName], [RoleId], [Department], [IsActive], [CreatedAt], [Avatar]) VALUES (1, N'tech.ivanov', N'WZRHGrsBESr8wYFZ9sx0tPURuZgG2lmzyvWpwXPKz8U=', N'Иванов Иван Петрович', 1, N'Технологический отдел', 1, CAST(N'2026-05-15T10:21:12.2000000' AS DateTime2), NULL)
INSERT [dbo].[Users] ([Id], [Login], [PasswordHash], [FullName], [RoleId], [Department], [IsActive], [CreatedAt], [Avatar]) VALUES (2, N'oper.petrov', N'WZRHGrsBESr8wYFZ9sx0tPURuZgG2lmzyvWpwXPKz8U=', N'Петров Петр Сидорович', 2, N'Цех №1', 1, CAST(N'2026-05-15T10:21:12.2000000' AS DateTime2), NULL)
INSERT [dbo].[Users] ([Id], [Login], [PasswordHash], [FullName], [RoleId], [Department], [IsActive], [CreatedAt], [Avatar]) VALUES (3, N'lab.sidorova', N'WZRHGrsBESr8wYFZ9sx0tPURuZgG2lmzyvWpwXPKz8U=', N'Сидорова Анна Ивановна', 3, N'Лаборатория', 1, CAST(N'2026-05-15T10:21:12.2000000' AS DateTime2), NULL)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Equipmen__A25C5AA70A38BA7D]    Script Date: 17.05.2026 13:17:57 ******/
ALTER TABLE [dbo].[Equipment] ADD UNIQUE NONCLUSTERED 
(
	[Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__LabTests__D6EEAAC0D14E0470]    Script Date: 17.05.2026 13:17:57 ******/
ALTER TABLE [dbo].[LabTests] ADD UNIQUE NONCLUSTERED 
(
	[TestNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Producti__F869ED6D24E1828C]    Script Date: 17.05.2026 13:17:57 ******/
ALTER TABLE [dbo].[ProductionBatches] ADD UNIQUE NONCLUSTERED 
(
	[BatchNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Producti__CAC5E7436388F2D0]    Script Date: 17.05.2026 13:17:57 ******/
ALTER TABLE [dbo].[ProductionOrders] ADD UNIQUE NONCLUSTERED 
(
	[OrderNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Products__A25C5AA7586CD2A3]    Script Date: 17.05.2026 13:17:57 ******/
ALTER TABLE [dbo].[Products] ADD UNIQUE NONCLUSTERED 
(
	[Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__RawMater__F869ED6D57E50097]    Script Date: 17.05.2026 13:17:57 ******/
ALTER TABLE [dbo].[RawMaterialBatches] ADD UNIQUE NONCLUSTERED 
(
	[BatchNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__RawMater__A25C5AA7D0F38B68]    Script Date: 17.05.2026 13:17:57 ******/
ALTER TABLE [dbo].[RawMaterials] ADD UNIQUE NONCLUSTERED 
(
	[Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UK_Recipes_Product_Version]    Script Date: 17.05.2026 13:17:57 ******/
ALTER TABLE [dbo].[Recipes] ADD  CONSTRAINT [UK_Recipes_Product_Version] UNIQUE NONCLUSTERED 
(
	[ProductId] ASC,
	[Version] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UX_Recipes_OneApprovedPerProduct]    Script Date: 17.05.2026 13:17:57 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_Recipes_OneApprovedPerProduct] ON [dbo].[Recipes]
(
	[ProductId] ASC
)
WHERE ([Status]=N'Утверждена')
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_RefreshTokens_UserId_Token]    Script Date: 17.05.2026 13:17:57 ******/
CREATE NONCLUSTERED INDEX [IX_RefreshTokens_UserId_Token] ON [dbo].[RefreshTokens]
(
	[UserId] ASC,
	[Token] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Roles__737584F630B148D8]    Script Date: 17.05.2026 13:17:57 ******/
ALTER TABLE [dbo].[Roles] ADD UNIQUE NONCLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UK_TechCards_Product_Version]    Script Date: 17.05.2026 13:17:57 ******/
ALTER TABLE [dbo].[TechCards] ADD  CONSTRAINT [UK_TechCards_Product_Version] UNIQUE NONCLUSTERED 
(
	[ProductId] ASC,
	[Version] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UX_TechCards_OneApprovedPerProduct]    Script Date: 17.05.2026 13:17:57 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_TechCards_OneApprovedPerProduct] ON [dbo].[TechCards]
(
	[ProductId] ASC
)
WHERE ([Status]=N'Утверждена')
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__5E55825B541FCEFE]    Script Date: 17.05.2026 13:17:57 ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Login] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AuditLogs] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[BatchStepExecutions] ADD  DEFAULT ('Не начат') FOR [Status]
GO
ALTER TABLE [dbo].[DeviationEvents] ADD  DEFAULT ('Предупреждение') FOR [Severity]
GO
ALTER TABLE [dbo].[DeviationEvents] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Equipment] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[EquipmentLogs] ADD  DEFAULT (getdate()) FOR [EventTime]
GO
ALTER TABLE [dbo].[ExtruderLogs] ADD  DEFAULT (getdate()) FOR [LoadedAt]
GO
ALTER TABLE [dbo].[ExtruderPrograms] ADD  DEFAULT ('Черновик') FOR [Status]
GO
ALTER TABLE [dbo].[ExtruderPrograms] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[ExtruderTelemetry] ADD  DEFAULT (getdate()) FOR [Timestamp]
GO
ALTER TABLE [dbo].[ExtruderTelemetry] ADD  DEFAULT ('Норма') FOR [Status]
GO
ALTER TABLE [dbo].[LabTests] ADD  DEFAULT (getdate()) FOR [AssignedAt]
GO
ALTER TABLE [dbo].[LabTests] ADD  DEFAULT ('Создано') FOR [Status]
GO
ALTER TABLE [dbo].[LabTests] ADD  DEFAULT ('Обычный') FOR [Priority]
GO
ALTER TABLE [dbo].[MaintenanceRecords] ADD  DEFAULT (getdate()) FOR [MaintenanceDate]
GO
ALTER TABLE [dbo].[MaintenanceRecords] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Notifications] ADD  DEFAULT ((0)) FOR [IsRead]
GO
ALTER TABLE [dbo].[Notifications] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[ProductionBatches] ADD  DEFAULT ('Подготовлена') FOR [Status]
GO
ALTER TABLE [dbo].[ProductionBatches] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[ProductionOrders] ADD  DEFAULT ('Создан') FOR [Status]
GO
ALTER TABLE [dbo].[ProductionOrders] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT ('Активен') FOR [Status]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[RawMaterialBatches] ADD  DEFAULT ('Ожидает') FOR [LabStatus]
GO
ALTER TABLE [dbo].[RawMaterials] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Recipes] ADD  DEFAULT ('Черновик') FOR [Status]
GO
ALTER TABLE [dbo].[Recipes] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[RefreshTokens] ADD  DEFAULT ((0)) FOR [IsRevoked]
GO
ALTER TABLE [dbo].[RefreshTokens] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[StatusHistory] ADD  DEFAULT (getdate()) FOR [ChangedAt]
GO
ALTER TABLE [dbo].[TechCards] ADD  DEFAULT ('Черновик') FOR [Status]
GO
ALTER TABLE [dbo].[TechCards] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[TechSteps] ADD  DEFAULT ((1)) FOR [IsMandatory]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[AuditLogs]  WITH CHECK ADD  CONSTRAINT [FK_Audit_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[AuditLogs] CHECK CONSTRAINT [FK_Audit_UserId]
GO
ALTER TABLE [dbo].[BatchMaterials]  WITH CHECK ADD  CONSTRAINT [FK_BatchMaterials_BatchId] FOREIGN KEY([BatchId])
REFERENCES [dbo].[ProductionBatches] ([Id])
GO
ALTER TABLE [dbo].[BatchMaterials] CHECK CONSTRAINT [FK_BatchMaterials_BatchId]
GO
ALTER TABLE [dbo].[BatchMaterials]  WITH CHECK ADD  CONSTRAINT [FK_BatchMaterials_RMBatchId] FOREIGN KEY([RawMaterialBatchId])
REFERENCES [dbo].[RawMaterialBatches] ([Id])
GO
ALTER TABLE [dbo].[BatchMaterials] CHECK CONSTRAINT [FK_BatchMaterials_RMBatchId]
GO
ALTER TABLE [dbo].[BatchStepExecutions]  WITH CHECK ADD  CONSTRAINT [FK_BatchStepExecutions_Equipment] FOREIGN KEY([EquipmentId])
REFERENCES [dbo].[Equipment] ([Id])
GO
ALTER TABLE [dbo].[BatchStepExecutions] CHECK CONSTRAINT [FK_BatchStepExecutions_Equipment]
GO
ALTER TABLE [dbo].[BatchStepExecutions]  WITH CHECK ADD  CONSTRAINT [FK_StepExec_BatchId] FOREIGN KEY([BatchId])
REFERENCES [dbo].[ProductionBatches] ([Id])
GO
ALTER TABLE [dbo].[BatchStepExecutions] CHECK CONSTRAINT [FK_StepExec_BatchId]
GO
ALTER TABLE [dbo].[BatchStepExecutions]  WITH CHECK ADD  CONSTRAINT [FK_StepExec_FinishedBy] FOREIGN KEY([FinishedBy])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[BatchStepExecutions] CHECK CONSTRAINT [FK_StepExec_FinishedBy]
GO
ALTER TABLE [dbo].[BatchStepExecutions]  WITH CHECK ADD  CONSTRAINT [FK_StepExec_StartedBy] FOREIGN KEY([StartedBy])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[BatchStepExecutions] CHECK CONSTRAINT [FK_StepExec_StartedBy]
GO
ALTER TABLE [dbo].[BatchStepExecutions]  WITH CHECK ADD  CONSTRAINT [FK_StepExec_StepId] FOREIGN KEY([StepId])
REFERENCES [dbo].[TechSteps] ([Id])
GO
ALTER TABLE [dbo].[BatchStepExecutions] CHECK CONSTRAINT [FK_StepExec_StepId]
GO
ALTER TABLE [dbo].[DeviationEvents]  WITH CHECK ADD  CONSTRAINT [FK_Dev_BatchId] FOREIGN KEY([BatchId])
REFERENCES [dbo].[ProductionBatches] ([Id])
GO
ALTER TABLE [dbo].[DeviationEvents] CHECK CONSTRAINT [FK_Dev_BatchId]
GO
ALTER TABLE [dbo].[DeviationEvents]  WITH CHECK ADD  CONSTRAINT [FK_Dev_CreatedBy] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[DeviationEvents] CHECK CONSTRAINT [FK_Dev_CreatedBy]
GO
ALTER TABLE [dbo].[DeviationEvents]  WITH CHECK ADD  CONSTRAINT [FK_Dev_ResolvedBy] FOREIGN KEY([ResolvedBy])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[DeviationEvents] CHECK CONSTRAINT [FK_Dev_ResolvedBy]
GO
ALTER TABLE [dbo].[DeviationEvents]  WITH CHECK ADD  CONSTRAINT [FK_Dev_StepExecId] FOREIGN KEY([StepExecutionId])
REFERENCES [dbo].[BatchStepExecutions] ([Id])
GO
ALTER TABLE [dbo].[DeviationEvents] CHECK CONSTRAINT [FK_Dev_StepExecId]
GO
ALTER TABLE [dbo].[DeviationEvents]  WITH CHECK ADD  CONSTRAINT [FK_DeviationEvents_Equipment] FOREIGN KEY([EquipmentId])
REFERENCES [dbo].[Equipment] ([Id])
GO
ALTER TABLE [dbo].[DeviationEvents] CHECK CONSTRAINT [FK_DeviationEvents_Equipment]
GO
ALTER TABLE [dbo].[EquipmentLogs]  WITH CHECK ADD  CONSTRAINT [FK_EquipmentLogs_Equipment] FOREIGN KEY([EquipmentId])
REFERENCES [dbo].[Equipment] ([Id])
GO
ALTER TABLE [dbo].[EquipmentLogs] CHECK CONSTRAINT [FK_EquipmentLogs_Equipment]
GO
ALTER TABLE [dbo].[EquipmentLogs]  WITH CHECK ADD  CONSTRAINT [FK_EquipmentLogs_ProductionBatches] FOREIGN KEY([BatchId])
REFERENCES [dbo].[ProductionBatches] ([Id])
GO
ALTER TABLE [dbo].[EquipmentLogs] CHECK CONSTRAINT [FK_EquipmentLogs_ProductionBatches]
GO
ALTER TABLE [dbo].[ExtruderLogs]  WITH CHECK ADD  CONSTRAINT [FK_ExtruderLogs_Batch] FOREIGN KEY([BatchId])
REFERENCES [dbo].[ProductionBatches] ([Id])
GO
ALTER TABLE [dbo].[ExtruderLogs] CHECK CONSTRAINT [FK_ExtruderLogs_Batch]
GO
ALTER TABLE [dbo].[ExtruderLogs]  WITH CHECK ADD  CONSTRAINT [FK_ExtruderLogs_Program] FOREIGN KEY([ProgramId])
REFERENCES [dbo].[ExtruderPrograms] ([Id])
GO
ALTER TABLE [dbo].[ExtruderLogs] CHECK CONSTRAINT [FK_ExtruderLogs_Program]
GO
ALTER TABLE [dbo].[ExtruderLogs]  WITH CHECK ADD  CONSTRAINT [FK_ExtruderLogs_User] FOREIGN KEY([LoadedBy])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[ExtruderLogs] CHECK CONSTRAINT [FK_ExtruderLogs_User]
GO
ALTER TABLE [dbo].[ExtruderPrograms]  WITH CHECK ADD  CONSTRAINT [FK_ExtruderPrograms_Product] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
GO
ALTER TABLE [dbo].[ExtruderPrograms] CHECK CONSTRAINT [FK_ExtruderPrograms_Product]
GO
ALTER TABLE [dbo].[ExtruderTelemetry]  WITH CHECK ADD  CONSTRAINT [FK_ExtruderTelemetry_Batch] FOREIGN KEY([BatchNumber])
REFERENCES [dbo].[ProductionBatches] ([BatchNumber])
GO
ALTER TABLE [dbo].[ExtruderTelemetry] CHECK CONSTRAINT [FK_ExtruderTelemetry_Batch]
GO
ALTER TABLE [dbo].[ExtruderZones]  WITH CHECK ADD  CONSTRAINT [FK_ExtruderZones_Program] FOREIGN KEY([ProgramId])
REFERENCES [dbo].[ExtruderPrograms] ([Id])
GO
ALTER TABLE [dbo].[ExtruderZones] CHECK CONSTRAINT [FK_ExtruderZones_Program]
GO
ALTER TABLE [dbo].[LabTestParameters]  WITH CHECK ADD  CONSTRAINT [FK_LabParams_TestId] FOREIGN KEY([TestId])
REFERENCES [dbo].[LabTests] ([Id])
GO
ALTER TABLE [dbo].[LabTestParameters] CHECK CONSTRAINT [FK_LabParams_TestId]
GO
ALTER TABLE [dbo].[LabTests]  WITH CHECK ADD  CONSTRAINT [FK_LabTests_AssignedBy] FOREIGN KEY([AssignedBy])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[LabTests] CHECK CONSTRAINT [FK_LabTests_AssignedBy]
GO
ALTER TABLE [dbo].[LabTests]  WITH CHECK ADD  CONSTRAINT [FK_LabTests_ExecutedBy] FOREIGN KEY([ExecutedBy])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[LabTests] CHECK CONSTRAINT [FK_LabTests_ExecutedBy]
GO
ALTER TABLE [dbo].[MaintenanceRecords]  WITH CHECK ADD  CONSTRAINT [FK_MaintenanceRecords_Equipment] FOREIGN KEY([EquipmentId])
REFERENCES [dbo].[Equipment] ([Id])
GO
ALTER TABLE [dbo].[MaintenanceRecords] CHECK CONSTRAINT [FK_MaintenanceRecords_Equipment]
GO
ALTER TABLE [dbo].[MaintenanceRecords]  WITH CHECK ADD  CONSTRAINT [FK_MaintenanceRecords_Users] FOREIGN KEY([PerformedBy])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[MaintenanceRecords] CHECK CONSTRAINT [FK_MaintenanceRecords_Users]
GO
ALTER TABLE [dbo].[Notifications]  WITH CHECK ADD  CONSTRAINT [FK_Notif_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Notifications] CHECK CONSTRAINT [FK_Notif_UserId]
GO
ALTER TABLE [dbo].[ProductionBatches]  WITH CHECK ADD  CONSTRAINT [FK_Batches_CreatedBy] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[ProductionBatches] CHECK CONSTRAINT [FK_Batches_CreatedBy]
GO
ALTER TABLE [dbo].[ProductionBatches]  WITH CHECK ADD  CONSTRAINT [FK_Batches_OrderId] FOREIGN KEY([OrderId])
REFERENCES [dbo].[ProductionOrders] ([Id])
GO
ALTER TABLE [dbo].[ProductionBatches] CHECK CONSTRAINT [FK_Batches_OrderId]
GO
ALTER TABLE [dbo].[ProductionBatches]  WITH CHECK ADD  CONSTRAINT [FK_Batches_ProductId] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
GO
ALTER TABLE [dbo].[ProductionBatches] CHECK CONSTRAINT [FK_Batches_ProductId]
GO
ALTER TABLE [dbo].[ProductionBatches]  WITH CHECK ADD  CONSTRAINT [FK_Batches_RecipeId] FOREIGN KEY([RecipeId])
REFERENCES [dbo].[Recipes] ([Id])
GO
ALTER TABLE [dbo].[ProductionBatches] CHECK CONSTRAINT [FK_Batches_RecipeId]
GO
ALTER TABLE [dbo].[ProductionBatches]  WITH CHECK ADD  CONSTRAINT [FK_Batches_TechCardId] FOREIGN KEY([TechCardId])
REFERENCES [dbo].[TechCards] ([Id])
GO
ALTER TABLE [dbo].[ProductionBatches] CHECK CONSTRAINT [FK_Batches_TechCardId]
GO
ALTER TABLE [dbo].[ProductionBatches]  WITH CHECK ADD  CONSTRAINT [FK_ProductionBatches_Equipment] FOREIGN KEY([EquipmentId])
REFERENCES [dbo].[Equipment] ([Id])
GO
ALTER TABLE [dbo].[ProductionBatches] CHECK CONSTRAINT [FK_ProductionBatches_Equipment]
GO
ALTER TABLE [dbo].[ProductionOrders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_CreatedBy] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[ProductionOrders] CHECK CONSTRAINT [FK_Orders_CreatedBy]
GO
ALTER TABLE [dbo].[ProductionOrders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_ProductId] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
GO
ALTER TABLE [dbo].[ProductionOrders] CHECK CONSTRAINT [FK_Orders_ProductId]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_CreatedBy] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_CreatedBy]
GO
ALTER TABLE [dbo].[RawMaterialBatches]  WITH CHECK ADD  CONSTRAINT [FK_RMBatches_DecisionBy] FOREIGN KEY([DecisionBy])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[RawMaterialBatches] CHECK CONSTRAINT [FK_RMBatches_DecisionBy]
GO
ALTER TABLE [dbo].[RawMaterialBatches]  WITH CHECK ADD  CONSTRAINT [FK_RMBatches_MaterialId] FOREIGN KEY([MaterialId])
REFERENCES [dbo].[RawMaterials] ([Id])
GO
ALTER TABLE [dbo].[RawMaterialBatches] CHECK CONSTRAINT [FK_RMBatches_MaterialId]
GO
ALTER TABLE [dbo].[RecipeComponents]  WITH CHECK ADD  CONSTRAINT [FK_RecipeComponents_RawMaterialId] FOREIGN KEY([RawMaterialId])
REFERENCES [dbo].[RawMaterials] ([Id])
GO
ALTER TABLE [dbo].[RecipeComponents] CHECK CONSTRAINT [FK_RecipeComponents_RawMaterialId]
GO
ALTER TABLE [dbo].[RecipeComponents]  WITH CHECK ADD  CONSTRAINT [FK_RecipeComponents_RecipeId] FOREIGN KEY([RecipeId])
REFERENCES [dbo].[Recipes] ([Id])
GO
ALTER TABLE [dbo].[RecipeComponents] CHECK CONSTRAINT [FK_RecipeComponents_RecipeId]
GO
ALTER TABLE [dbo].[Recipes]  WITH CHECK ADD  CONSTRAINT [FK_Recipes_ApprovedBy] FOREIGN KEY([ApprovedBy])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Recipes] CHECK CONSTRAINT [FK_Recipes_ApprovedBy]
GO
ALTER TABLE [dbo].[Recipes]  WITH CHECK ADD  CONSTRAINT [FK_Recipes_CreatedBy] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Recipes] CHECK CONSTRAINT [FK_Recipes_CreatedBy]
GO
ALTER TABLE [dbo].[Recipes]  WITH CHECK ADD  CONSTRAINT [FK_Recipes_ProductId] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
GO
ALTER TABLE [dbo].[Recipes] CHECK CONSTRAINT [FK_Recipes_ProductId]
GO
ALTER TABLE [dbo].[RefreshTokens]  WITH CHECK ADD  CONSTRAINT [FK_RefreshTokens_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[RefreshTokens] CHECK CONSTRAINT [FK_RefreshTokens_User]
GO
ALTER TABLE [dbo].[StatusHistory]  WITH CHECK ADD  CONSTRAINT [FK_StatusHistory_User] FOREIGN KEY([ChangedBy])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[StatusHistory] CHECK CONSTRAINT [FK_StatusHistory_User]
GO
ALTER TABLE [dbo].[TechCards]  WITH CHECK ADD  CONSTRAINT [FK_TechCards_ApprovedBy] FOREIGN KEY([ApprovedBy])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[TechCards] CHECK CONSTRAINT [FK_TechCards_ApprovedBy]
GO
ALTER TABLE [dbo].[TechCards]  WITH CHECK ADD  CONSTRAINT [FK_TechCards_CreatedBy] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[TechCards] CHECK CONSTRAINT [FK_TechCards_CreatedBy]
GO
ALTER TABLE [dbo].[TechCards]  WITH CHECK ADD  CONSTRAINT [FK_TechCards_ProductId] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
GO
ALTER TABLE [dbo].[TechCards] CHECK CONSTRAINT [FK_TechCards_ProductId]
GO
ALTER TABLE [dbo].[TechSteps]  WITH CHECK ADD  CONSTRAINT [FK_TechSteps_Equipment] FOREIGN KEY([EquipmentId])
REFERENCES [dbo].[Equipment] ([Id])
GO
ALTER TABLE [dbo].[TechSteps] CHECK CONSTRAINT [FK_TechSteps_Equipment]
GO
ALTER TABLE [dbo].[TechSteps]  WITH CHECK ADD  CONSTRAINT [FK_TechSteps_TechCardId] FOREIGN KEY([TechCardId])
REFERENCES [dbo].[TechCards] ([Id])
GO
ALTER TABLE [dbo].[TechSteps] CHECK CONSTRAINT [FK_TechSteps_TechCardId]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Roles] ([Id])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_RoleId]
GO
ALTER TABLE [dbo].[RecipeComponents]  WITH CHECK ADD CHECK  (([Percentage]>(0) AND [Percentage]<=(100)))
GO
ALTER TABLE [dbo].[RecipeComponents]  WITH CHECK ADD  CONSTRAINT [CK_RecipeComponents_Percentage] CHECK  (([Percentage]>(0) AND [Percentage]<=(100)))
GO
ALTER TABLE [dbo].[RecipeComponents] CHECK CONSTRAINT [CK_RecipeComponents_Percentage]
GO
/****** Object:  StoredProcedure [dbo].[sp_CreateProductionBatch]    Script Date: 17.05.2026 13:17:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =====================================================
-- Создание производственной партии
-- =====================================================
CREATE   PROCEDURE [dbo].[sp_CreateProductionBatch]
    @ProductCode NVARCHAR(50),
    @Line NVARCHAR(50),
    @CreatedByLogin NVARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        BEGIN TRANSACTION;
        
        DECLARE @ProductId INT;
        DECLARE @RecipeId INT;
        DECLARE @TechCardId INT;
        DECLARE @UserId INT;
        DECLARE @BatchNumber NVARCHAR(50);
        
        -- Получаем ID пользователя
        SELECT @UserId = Id FROM Users WHERE Login = @CreatedByLogin;
        IF @UserId IS NULL
        BEGIN
            RAISERROR('Пользователь не найден', 16, 1);
            RETURN;
        END
        
        -- Получаем продукт
        SELECT @ProductId = Id FROM Products WHERE Code = @ProductCode;
        IF @ProductId IS NULL
        BEGIN
            RAISERROR('Продукт не найден', 16, 1);
            RETURN;
        END
        
        -- Получаем действующую рецептуру
        SELECT TOP 1 @RecipeId = Id FROM Recipes 
        WHERE ProductId = @ProductId AND Status = 'Утверждена'
        ORDER BY Version DESC;
        
        -- Получаем действующую техкарту
        SELECT TOP 1 @TechCardId = Id FROM TechCards 
        WHERE ProductId = @ProductId AND Status = 'Утверждена'
        ORDER BY Version DESC;
        
        -- Генерируем номер партии
        SET @BatchNumber = 'B-' + CAST(CAST(GETDATE() AS DATE) AS NVARCHAR(10)) + '-' + CAST(NEXT VALUE FOR BatchNumberSeq AS NVARCHAR(10));
        
        -- Создаем партию
        INSERT INTO ProductionBatches (BatchNumber, ProductId, RecipeId, TechCardId, Line, Status, CreatedBy)
        VALUES (@BatchNumber, @ProductId, @RecipeId, @TechCardId, @Line, 'Подготовлена', @UserId);
        
        -- Создаем записи выполнения шагов для всех шагов техкарты
        INSERT INTO BatchStepExecutions (BatchId, StepId, StepNumber, Status)
        SELECT 
            SCOPE_IDENTITY(),
            Id,
            StepNumber,
            'Не начат'
        FROM TechSteps
        WHERE TechCardId = @TechCardId
        ORDER BY StepNumber;
        
        COMMIT TRANSACTION;
        
        SELECT @BatchNumber AS BatchNumber, 'Партия успешно создана' AS Message;
        
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;
        THROW;
    END CATCH
END;
GO
ALTER AUTHORIZATION ON [dbo].[sp_CreateProductionBatch] TO  SCHEMA OWNER 
GO
/****** Object:  StoredProcedure [dbo].[sp_RegisterDeviation]    Script Date: 17.05.2026 13:17:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =====================================================
-- Зарегистрировать отклонение в партии
-- =====================================================
CREATE   PROCEDURE [dbo].[sp_RegisterDeviation]
    @BatchNumber NVARCHAR(50),
    @StepNumber INT,
    @ParameterName NVARCHAR(100),
    @PlannedValue NVARCHAR(50),
    @ActualValue NVARCHAR(50),
    @Description NVARCHAR(MAX),
    @Severity NVARCHAR(20),
    @UserLogin NVARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;
    
    DECLARE @UserId INT;
    DECLARE @BatchId INT;
    DECLARE @StepExecId INT;
    
    -- Получаем ID пользователя
    SELECT @UserId = Id FROM Users WHERE Login = @UserLogin;
    
    -- Получаем партию
    SELECT @BatchId = Id FROM ProductionBatches WHERE BatchNumber = @BatchNumber;
    
    -- Получаем выполнение шага
    SELECT @StepExecId = Id FROM BatchStepExecutions
    WHERE BatchId = @BatchId AND StepNumber = @StepNumber;
    
    -- Вставляем отклонение
    INSERT INTO DeviationEvents (BatchId, StepExecutionId, EventType, ParameterName, PlannedValue, ActualValue, Description, Severity, CreatedBy)
    VALUES (@BatchId, @StepExecId, 'Отклонение параметра', @ParameterName, @PlannedValue, @ActualValue, @Description, @Severity, @UserId);
    
    -- Если критическое отклонение, создаем уведомление для технолога
    IF @Severity = 'Критично'
    BEGIN
        INSERT INTO Notifications (UserId, Type, Title, Message, Metadata)
        SELECT 
            Id,
            'Критическое отклонение',
            'Критическое отклонение на партии ' + @BatchNumber,
            'Параметр: ' + @ParameterName + '. Факт: ' + @ActualValue + ' (норма: ' + @PlannedValue + ')',
            '{"BatchNumber": "' + @BatchNumber + '"}'
        FROM Users WHERE RoleId IN (SELECT Id FROM Roles WHERE Name = 'Технолог');
    END
    
    SELECT 'Отклонение зарегистрировано' AS Message;
END;
GO
ALTER AUTHORIZATION ON [dbo].[sp_RegisterDeviation] TO  SCHEMA OWNER 
GO
/****** Object:  StoredProcedure [dbo].[sp_StartBatchStep]    Script Date: 17.05.2026 13:17:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =====================================================
-- Начать выполнение шага партии
-- =====================================================
CREATE   PROCEDURE [dbo].[sp_StartBatchStep]
    @BatchNumber NVARCHAR(50),
    @StepNumber INT,
    @UserLogin NVARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        BEGIN TRANSACTION;
        
        DECLARE @UserId INT;
        DECLARE @BatchId INT;
        DECLARE @StepExecId INT;
        
        -- Получаем ID пользователя
        SELECT @UserId = Id FROM Users WHERE Login = @UserLogin;
        
        -- Получаем партию
        SELECT @BatchId = Id FROM ProductionBatches WHERE BatchNumber = @BatchNumber;
        
        -- Получаем выполнение шага
        SELECT @StepExecId = Id FROM BatchStepExecutions
        WHERE BatchId = @BatchId AND StepNumber = @StepNumber AND Status = 'Не начат';
        
        IF @StepExecId IS NULL
        BEGIN
            RAISERROR('Шаг не может быть начат (уже выполнен или не существует)', 16, 1);
            RETURN;
        END
        
        -- Обновляем статус шага
        UPDATE BatchStepExecutions
        SET Status = 'Выполняется',
            StartedAt = GETDATE(),
            StartedBy = @UserId
        WHERE Id = @StepExecId;
        
        COMMIT TRANSACTION;
        
        SELECT 'Шаг ' + CAST(@StepNumber AS NVARCHAR) + ' начат' AS Message;
        
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;
        THROW;
    END CATCH
END;
GO
ALTER AUTHORIZATION ON [dbo].[sp_StartBatchStep] TO  SCHEMA OWNER 
GO
